
.App-header .red {
  background-color: #FB522A;
}

.offline {
  background-color: #030D12;
}

.secondaryText {
  background-color: #475458;
}

.App-intro {
  font-size: large;
}

.dollar:before{
  content: ' $';
}

h1 {
  font-size: 3em;
}