.App {
  text-align: center;
}

.App-header {
  background-color: #21CE99;
  height: 150px;
  padding: 20px;
  color: #D7E2E5;
}

.App-header .red {
  background-color: #FB522A;
}

.offline {
  background-color: #030D12;
}

.secondaryText {
  background-color: #475458;
}

.App-intro {
  font-size: large;
}

