.App-header {
  background-color: #21CE99;
  height: 150px;
  margin: 0;
  padding: 20px;
  color: #EEEEEE;
  /*color: white;*/
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.App-header a {
    text-decoration: underline;
    color: #EEEEEE;
    font-size: 12px;
}

.header-cash {
    /*border: 1px solid white;*/
    font-size: 12px;
    flex-basis: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-user {
    /*border: 1px solid white;*/
    font-size: 11px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header-portfolio {
    /*border: 1px solid white;*/
    font-size: 14px;
    flex-basis: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
    width: 100%;
    padding: 2px;
    flex-direction: row;
    flex-wrap: wrap;
}

.val {
    text-align: right;
    min-width: 75px;
    max-width: 75px;
}

.padded {
    padding: 5px;
}
.start {
    justify-content: flex-start;
}
.end {
    justify-content: flex-end;
}
.center {
    justify-content: center;
}
.max {
    flex-basis: 95%;
}
.no-wrap{
    display: flex;
    flex-wrap: nowrap;
}
.space-around {
    display: flex;
    justify-content: space-around;
}